body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
    width: 700px;
}

.spaced {
    margin-bottom: 30px;
}

.sandbox {
    margin-top: 30px;
    height: 400px;
    padding: 10px;
    border: 1px solid #ddd;
}
.not-active {
   pointer-events: none;
   cursor: default;
   color: green;
}

.header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;    
}

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

.header h3 a {
    color: #000;
    text-decoration: none;
}

.warning {
    border: 1px solid #dd0000;
}

.text-muted {
    font-size: 2.5em;
}
article {
    padding: 5px;
    margin: 10px;
}

article h3 a{
    color: #000;
}

article .author {
    margin-top: 5px;
}

article .content {
    font-size: 1.3em;
}
.single-post h2 {
    text-align: center;
}
.single-post .author {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 10px;
}
.single-post .content {
    padding: 5px;
    font-size: 1.2em;
    line-height: 1.8em;
}


.deletePost {
    margin-left: 10px;
    color: red;
}

.editPost {
    margin-left: 10px;
    color: #444;
}

div.error {
    border: 1px solid red;
    color: red;
    padding: 5px;
    margin-bottom: 20px;
}

.addNewForm {
    margin-top: 30px;
}