body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
    width: 700px;
}

.spaced {
    margin-bottom: 30px;
}

.sandbox {
    margin-top: 30px;
    height: 400px;
    padding: 10px;
    border: 1px solid #ddd;
}

.header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;    
}

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

.header h3 a {
    color: #555;
    text-decoration: none;
}